@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("worff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("worff2");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("worff2");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Bold.woff2") format("worff2");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}
